body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff7f50 30%, #00aaff);
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    border-color: black;
    color: black;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
