.index-selection {
    width: 100%;
    height: 500px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
}

.index-selection.home {
    background-image: url('../images/home.jpg');
}

.index-selection.about {
    background-image: url('../images/airport.jpg');
}

.index-selection.contact {
    background-image: url('../images/runway.jpg');
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover,
a:hover {
    color: #d9534f;
}

.navbar-nav .nav-link {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

.btn-outline-danger {
    border-color: #d9534f;
    color: white;
}
